<div id="estado<%=estado.tipo%>" class="estado">
	<div class="tituloPanelEstado">
		<div class="tituloEstadoDiv">
			<span class="tituloEstado"><%=estado.nombre%> </span>
			<span class="cantidadProductos">()</span>
		</div>
		<div class="botonera">
		    <button class="vistaPedidos">P</button>
		    <button class="vistaProductos">Pr</button>
		</div>
	</div>
	<div class="contentDiv">
	</div>
</div>
